.w-first-step {

  &__header {
    padding: 15px;
    background-color: $color-main;
    color: $color-white;

    h2, h3 { font-size: 18px; }
    h2 { float: left; }
    h3 { float: right; }
  }

  &__flight {
    border-bottom: 1px solid $color-grey-1;

    ul { padding: 0 15px; }

    ul > li {
      display: inline-block;
      width: 25%;
      height: 55px;
      line-height: 55px;
      vertical-align: middle;

      &:hover { cursor: pointer; }

      &:first-child             { text-align: left; }
      &:first-child + li        { text-align: center; }
      &:first-child + li + li   { text-align: center; }
      &:last-child              { text-align: right; }

      span {
        color: $color-black;
        font-size: 14px;
      }
    }

    img {
      height: 30px;
      width: auto;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}
