.w-first-step {

  &__header {
    padding: 15px;
    background-color: $color-main;
    color: $color-white;

    h2, h3 { font-size: 18px; }
    h2 { float: left; }
    h3 { float: right; }
  }

  &__flight {
    border-bottom: 1px solid $color-grey-1;

    ul > li {
      display: inline-block;
      padding: 15px;
      width: 33%;
      vertical-align: middle;

      &:first-child       { text-align: left; }
      &:first-child + li  { text-align: center; }
      &:last-child        { text-align: right; }

      span {
        color: $color-black;
        font-size: 14px;
      }
    }

    img {
      height: 30px;
      width: auto;
    }
  }
}
