<header class="c-navbar">
  <div class="c-container">
    <div class="c-navbar__brand">mashopolo</div>
  </div>
</header>

<div class="c-container">
  <form
    class="c-main-form"
    name="searchForm">
    <input
      type="search"
      class="c-main-form__url"
      ng-model="query"
      placeholder="Put here any URL">
    <button
      class="c-btn c-btn--main c-main-form__submit"
      ng-disabled="!query"
      ng-click="search(query)">
      Discover!
    </button>
  </form>
  <div ng-show="widgetPath" class="c-widget">
    <iframe
      class="c-widget__iframe"
      height="200px"
      width="600px"
      ng-src="{{widgetPath}}">
    </iframe>
    <input
      class="c-widget__embed"
      type="text"
      disabled="true"
      ng-model="embedCode">
  </div>
</div>
