<div class="w-main">
  <ul class="w-main__steps">
    <li
      ng-class="{ active: is('flights') || is('hotels') || is('checkout') }"
      ng-click="goTo('flights')">
      1. FLIGHTS
    </li><!--
    --><li
      ng-class="{ active: is('hotels') || is('checkout') }"
      ng-click="goTo('hotels')">
      2. HOTELS
    </li><!--
    --><li
      ng-class="{ active: is('checkout') }"
      ng-click="goTo('checkout')">
      3. CHECKOUT
    </li>
  </ul>
  <ul
    ng-switch="location">
    <li
      ng-switch-when="flights">
      <ng-include src="'views/widget-flights.html'"></ng-include>
    </li>
    <li
      ng-switch-when="hotels">
      <ng-include src="'views/widget-hotels.html'"></ng-include>
    </li>
    <li
      ng-switch-when="checkout">
      <ng-include src="'views/widget-checkout.html'"></ng-include>
    </li>
  </ul>
  <div class="w-main__footer">
    mashopolo.com
  </div>
</div>
