<section class="w-first-step">
        <header class="w-first-step__header">
          <h2>{{ departureCity }} - {{ airlineResults.departureLocation }} to {{ arrivalCity }} - {{ airlineResults.arrivalLocation }}</h2>
          <h3>{{ moment(airlineResults.departureDate).format('MMM Do YYYY') }}</h3>
          <div class="t-clearfix"></div>
        </header>
        <div>
          <ul>
            <li
              class="w-first-step__flight"
              ng-repeat="r in airlineResults.flights | limitTo:3">
              <ul ng-click="selectFlight(r)">
                <li><span>{{ moment(r.segments[0].departureTime).format('HH:mm') }}</span> <div class="t-divisor t-divisor--grey">▶</div> <span>{{ moment(r.segments[1] ? r.segments[1].arrivalTime : r.segments[0].arrivalTime).format('HH:mm') }}</span></li><!--
                --><li><span>{{ r.segments[0].flightCode }}</span></li><!--
                --><li>{{ r.segments[0].airline }} <img ng-src="{{ r.segments[0].airline === 'Kronos Air' ? 'images/logo1.png' : 'images/logo2.png' }}"></li><!--
                --><li><span>&pound; {{ r.price }}</span></li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
