<form
  name="checkoutForm"
  class="w-third-step">
  <input
    class="w-third-step__item--mr"
    type="text"
    ng-model="user.fullName"
    placeholder="Full name">
  <input
    class="w-third-step__item--ml"
    required
    type="email"
    ng-model="user.email"
    placeholder="E-mail">
  <input
    class="w-third-step__item--mr"
    required
    type="text"
    ng-model="user.cardNumber"
    placeholder="Card number">
  <input
    class="w-third-step__item--ml"
    required
    type="text"
    ng-model="user.cvc"
    placeholder="CVC">

  <div class="w-third-step__date">
    <input
      required
      type="number"
      ng-model="user.month"
      maxlength="2"
      min="1"
      max="12"
      placeholder="MM"><!--
    --><span> / </span><!--
  --><input
      required
      type="number"
      ng-model="user.year"
      maxlength="2"
      min="15"
      placeholder="YY">
  </div>

  <button
    class="c-btn c-btn--main w-third-step__submit"
    ng-disabled="!checkoutForm.$valid"
    ng-click="checkout(user)">
    Checkout
  </button>
  <div class="t-clearfix"></div>
</form>
